*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: #fff;
    font-family: system-ui;
}
.crud {
    width: 80%;
    margin: auto;
}
.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 7px;
    color: #fff;
}
input:focus {
    background-color: #000;
    transform: scale(1.04);
}
.price input{
    width: 20%;
}
#total {
    background-color: purple;
    border-radius: 4px;
    padding: 5px 2px;
}
#total::before {
    content: 'Total ';
}
button {
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: purple;
    color: #fff;
    border-radius: 20px;
}
button:hover {
    background-color: rgb(207, 57, 207);
    letter-spacing: 1.5px;
    transition: 0.5s;
}
.btnSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnSearch button {
    width: 45%;
}
table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
#deleteAll {
    margin: 20px 0;
}